mat-card.json-post-card{
  margin-bottom: 20px;
  min-width: 270px;
}
.user-title{
  margin: 10px;
}
.user-subtitle{
  margin: 10px;
}
.post-title-container{
  margin: 50px;
}
.post-title-content {
  margin: 20px;
}
.post-content-container{
  margin: 0 75px 75px 75px;
}
.post-content{
  margin: 20px;
}
.comment-card{
  min-width: 302px;
}
.avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.card-header-container,
.card-content-container{
  border-bottom: 1px solid gray;
  margin: 10px;
}
.card-content{
  padding-bottom: 10px;
}
.user-avatar-container,
.user-title,
.user-subtitle{
  cursor: pointer;
}
.like-button,
.comment-button{
  color: gray
}
.active{
  color: blue;
}

