
<div fxLayout="row wrap" fxLayoutGap="32px" fxLayoutAlign="center center">
  <div style=" width: 40%;">
    <p>
      {{data?.category}}
    </p>
    <div fxLayout="row" fxLayoutAlign="start center">

      <!-- TITLE AND RATING -->
      <div>
        {{data?.title}}
      </div>
      <span fxFlex="50">
        <!-- SPACING -->
      </span>
      <div>
        <app-e-store-shop-rating
        [averageRating]="data.rating.rate"
        ></app-e-store-shop-rating>
        <div>
          {{data.rating?.count}}
        </div>
      </div>
    </div>
    <!-- IMAGE AND BUY-->
    <div fxLayout="row" fxLayoutAlign="start center">
      <div>
        <img [attr.src]="data?.image" style="height: 25%; width: 25%;">
      </div>
      <div>
        {{data?.price}}$
          AMOUNT
        <button>BUY</button>
      </div>

    </div>
    <div>
      {{data?.description}}
    </div>
  </div>
</div>
