.container{
  width: 50%;
}
.color-primary{
  color: #3F51B5;
}
.item-category{
  border: 2px solid #BFBFBF;
  border-radius: 5px;
  text-align: center;
  background-color: F4F4F4;
}
.dash-seperator{
  border-bottom: 2px solid #e8e5e5;
}
.item-image{
  height: 35%;
  width: 35%;
}
.buy-card{
  width: 500px;
  height: 150px;
}
.basket-form-field{
  text-align: center;
  width: 80px;
  height: 80px;
}
.item-description{
  padding-top: 15px;
  border-top: 2px solid #e8e5e5;
}
