
.user-details-container{
  height: 20vh;
}
.name {
  margin-top: 20px;
  font-weight: 600;
  font-size: 15px;
}
.avatar {
  width: 75%;
  height: 75%;
  border-radius: 50%;
  margin: 15px;
}
.value {
  margin-top: 20px;
  font-weight: 500;
  font-size: 15px;
}
.user-name{
  font-size: 30px;
  font-weight: 600;
  padding-bottom: 20px;
  margin: 5px;
  margin-top: 25px;
}
.json-user-details{
  padding-top: 50px;
  padding-bottom: 20px;
}
.icon{
  vertical-align: middle;
}
.album-list, .todo-list{
  margin: 50px;
}
@media screen and (min-width: 1500px) {
  .avatar {
    margin: 50px;
    width: 60%;
    height: 60%;
  }
  .user-name{
    margin-top: 50px;
  }
  .name {
    margin-top: 50px;
  }
  .value{
    margin-top: 50px;
  }
}
@media screen and (max-width: 1400px) {
  .value {
    margin-top: 32px;
    font-weight: 500;
    font-size: 15px;
  }
}

@media screen and (max-width: 960px) {
.user-details-container{
  height: 30vh;
}
.value {
  margin-top: 20px;
  font-weight: 500;
  font-size: 15px;
}
}
@media screen and (max-width: 470px) {

.user-details-container{
  height: 35vh;
}

.name {
  margin-top: 10px;
  margin-bottom: 40px;
  font-weight: 600;
  font-size: 15px;
}

.value {
  margin-top: 10px;
  margin-bottom: 20px;
  font-weight: 500;
  font-size: 15px;
}
}
