<div fxLayout="row wrap" fxLayoutGap="32px" fxLayoutAlign="flex-start">
  <ng-container *ngFor="let item of data">
    <app-e-store-shop-product-mat-card
      [data]="item"
      [itemIsIncart]="item.isInCart"
      fxFlex="0 1 calc(25% - 32px)"
    >
    </app-e-store-shop-product-mat-card>
  </ng-container>

  <!-- TO DO:
    MOVE THIS TO A SEPERATE COMP
    AND MOVE THE STYLE TO .SCSS file -->
  <button
    mat-fab
    color="primary"
    [matBadge]="cartCount"
    matBadgeColor="warn"
    class="cart-button"
    style="position: fixed; right: 10%; bottom: 10%; width: 100px; height: 100px; opacity: 0.6;"
  >
    <mat-icon>shopping_cart</mat-icon>
  </button>
</div>
