<mat-card
  [ngClass]="isInCart(true)"
  class="product-card"
  (click)="navigate(data)"
>
  <img
    class="product-image"
    mat-card-image
    [attr.src]="data.image"
    alt="Product Image"
  />
  <mat-card-title class="product-title-container" style="text-align: center">
    <p class="title">
      {{ data.title }}
    </p>
  </mat-card-title>
  <mat-card-content
    class="product-content-container"
    style="text-align: center"
  >
    <div>{{ data.rating.rate }} / {{ data.rating.count }}</div>
    <lib-rating [averageRating]="data.rating.rate"></lib-rating>
    <p class="price">{{ data.price }}$</p>
  </mat-card-content>
  <mat-card-actions
    class="product-actions-container"
    fxLayout="row"
    fxLayoutAlign="space-around center"
  >
    <span fxFlex="80">
      <!-- SPACE FILLER -->
    </span>
  </mat-card-actions>
</mat-card>
