table {
  width: 100%;
}

tr.detail-row {
  height: 0;
}

tr.element-row:not(.expanded-row):hover {
  background: whitesmoke;
}

tr.element-row:not(.expanded-row):active {
  background: #efefef;
}

.element-row td {
  border-bottom-width: 0;
  height: 60px;
  color: #3F51B5;
}

.element-detail {
  overflow: hidden;
  display: flex;
}


.element-symbol {
  font-weight: bold;
  font-size: 40px;
  line-height: normal;
  color: #3F51B5;
}
.element-description {
  padding: 16px;
}
.element-item{
  font-weight: bold;
}
.element-item-up{
  font-size: 20px;
  color: #3F51B5;
}

tr{
  cursor: pointer;
}
.element-diagram {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}
.avatar{
  border-radius: 50%;
  height: 80%;
  width: 80%;
}
